<h1>{{nombre}}</h1>

<dl>
    <dt>Nombre</dt>
    <dd>{{nombre}}</dd>

    <dt>Edad</dt>
    <dd>{{edad}}</dd>

    <dt>Método</dt>
    <dd>{{ getConcatenar()}}</dd> 

    <dt>Operación</dt>
    <dd>{{ mensaje }}</dd>
</dl>

<button 
    *ngIf="nombre !== 'Spiderman'" 
    (click)="cambiarNombre()" 
    class="btn btn-primary mx-2">
    Cambiar Nombre
</button>

<button 
    *ngIf="edad !== 25" 
    (click)="cambiarEdad()" 
    class="btn btn-primary mx-2">
    Cambiar Edad
</button>

<button 
    (click)="resetear()" 
    class="btn btn-primary mx-2">
    Resetear botones
</button>
