<h4>Listados</h4>
<ul class="list-group">
  <li *ngFor="let caracterV of caracterList;
  let i=index;
  let primero=first;
  let ultimo=last;
  let espar=even;
  let esimpar=odd;
  " class="list-group-item d-flex justify-content-between align-items-center"
   [ngClass]="{
    'list-group-item-dark': primero,
    'list-group-item-primary': espar
   }">
   <div>
    <span class="text-primary">{{i}}. </span>
    <strong> Jugador: </strong>
    <span>{{caracterV.nombre}}</span>
    <strong> Numero: </strong>
    <span>{{caracterV.numero}}</span>
    <strong> Equipo: </strong>
    <span>{{caracterV.equipo}}</span>
    <strong> Posicion: </strong>
    <span>{{caracterV.posicion}}</span>
   </div>

   <button (click)="onDeleteCaracterH(caracterV.id)" class="btn btn-danger">X</button>
    </li>
</ul>
